@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

h1{
margin-top: 15%;
margin-right: 400px;
margin-bottom: 20%;
margin-left: 2%;
color:#FFFFF0 ;
font-family: "Micro 5";
font-size: 750%;
font-weight:lighter;
}

#parsta{
    margin-top: 30%;
    border-radius: 45%;
    width: 500px;
    height: 600px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.top-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000; 
}


.left-icon {
    position: fixed;
    top: 10px; 
    left: 10px; 
    color: #00ff88;
    background: black;
    border: none;
}


.right-icon {
    position: fixed;
    top: 10px;
    right: 10px; 
    color: #00ff88;
    background: black;
    border: none;
}


#leftMenu {
    position: fixed; 
    top: 15%;          
    left: 0;        
    width: 250px;    
    height: 100%;    
    background-color: #414141;
}

#rightMenu {
    position: fixed; 
    top: 15%;          
    right: 0;        
    width: 250px;    
    height: 200%;    
    background-color: #414141;
}

.header {
    display: flex;
    justify-content: center; 
    background-color: transparent;
}

@media screen and (max-width: 700px){
    .header{
        scale: 50%;
        margin-bottom: 70%;
    }
    .h3{
        margin-bottom: 20%;
    }
    .logo{
        scale: 300%;
    }
    .button-container{
        width: 60%;  
        padding: 30px; 
    }
    }
    

.header h1 {
    margin-right: 5%; 
    color: #FFFFFF;
}

.header h1:hover {
    transform: scale(1.1); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7); 
}


#parsta:hover {
    transform: scale(1.1); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7); 
}

h2{
text-align: center;
color: #FFFFF0;
/*margin-left: 10%;
margin-right: 50%;*/
}

h3{
    text-align: center;
    color: #FFFFF0;
    margin-top: 5%;
    margin-bottom: 2%;
}



body {
    color: #00ff88; 
    text-align: left;
    background-color: #000; 
    font-family: "Source Code Pro";
    margin-bottom: 15%;
    margin: 0; 
    padding: 0; 
    
}

p{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

header {
text-align: center;
color: #02894b ;
}

pre{
    text-align: center;
    margin-top: 5%;
    margin-left: 10%; 
}

footer{
    text-align: right;
    margin-right: 10%;
}

nav{
background-color: #414141;
text-align: right;

}
nav a{
color: #00ff88;
padding: 1%;
margin: 20px;
display: block;
text-decoration: none; 
}

.button {
    border-radius: 4px;
    background-color: rgb(10, 10, 10);
    border: 1px solid #00ff88;
    color: #00ff88;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 45%;
    margin-right: 55%;
    margin-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
    margin-right: 1%;
  }

  .button img {
    margin-left: 5%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

  .button:hover {
    background-color: #00ff88;
    color: rgb(10, 10, 10);
  }

  footer{
    margin-left: 50%;
    margin-right: 50%;
  }
  
.pttolpat {
    width: 40%;
    margin: 0 auto;
    align-items: center;
}

.bar {
    margin: 5% 0;
}

.info {
    margin-bottom: 5px;
    color: white; /* Info-teksti valkoiseksi */
}

.progress-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    height: 30px;
    position: relative; 
}

.progress-bar span {
    display: block;
    height: 100%;
    border-radius: 10px;
}

.accuracy {
    width: 90%;
    background-color: #00ff88;
}

.kindness {
    width: 95%;
    background-color: #00ff88;
}

.motivation {
    width: 99%;
    background-color: #00ff88;
}

.teamwork {
    width: 95%;
    background-color: #00ff88;
}

.communication {
    width: 90%;
    background-color: #00ff88;
}

.eco {
    width: 75%;
    background-color: #00ff88;
}

.finnish {
    width: 100%;
    background-color: #00ff88;
}

.english {
    width: 95%;
    background-color: #00ff88;
}

.russian {
    width: 85%;
    background-color: #00ff88;
}

.charisma {
    width: 80%;
    background-color: #00ff88;
}

.humor {
    width: 60%;
    background-color: #00ff88;
}

.kjehrah-jokes {
    width: 75%;
    background-color: #00ff88;
}

.phone-browsing {
    width: 2%;
    background-color: #00ff88;
}

.html {
    width: 45%;
    background-color: #00ff88;
}

.java {
    width: 40%;
    background-color: #00ff88;
}

.python {
    width: 20%;
    background-color: #00ff88;
}


.percentage {
    color: black; 
    position: absolute; 
    right: 5px; 
    top: 0; 
    line-height: 30px; 
    font-weight: bold; 
}

.osa3 {
    text-align: center; 
    
}
.osa3 h5 {
    text-align: left; 
    margin-left: 10%;
    margin-top: 10px; 
}
h4 {
text-align: center;
font-size: 300%;
margin-top: 20%;
margin-bottom: 5%;
}
h5{
    margin-left: 12%;
    margin-bottom: 5%;
    font-size: xx-large;
}

.logo {
    width: 5%; 
    height: 5%; 
    margin: 30px; 
}
pre{
    margin-top: 10%;

}
